<!DOCTYPE html>
<html>
<head>
  <meta charachterset ="utf-8">
  <title>Some Website</title>
</head>



<body>
  {{> header}}
<p>
{{screamIt 'Mouse over this paragraph, to display the title attribute as a tooltip.'}} 
</p>


{{> footer}}

</body>
</html>
